<div class="container" >
    <div class="profile">
        <img width="190px" height="150px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAMjQfOnVjs8CCD4-gLzDvZ0L6npZIUqTd1Q&usqp=CAU" alt="admin img">
        <h3>Alexa</h3>
        <h4>alexa@bondfactory.co.in</h4>
    </div>
    <mat-divider></mat-divider>
    <div class="itemlist">
        <a routerLink="dashboard">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>dashboard</mat-icon>
              </button>Dashboard
        </a>
        <a routerLink="products">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>devices_wearables</mat-icon>
              </button>Products
        </a>
        <a routerLink="purchase">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>add_shopping_cart</mat-icon>
              </button>Purchase Orders
        </a>
        <a routerLink="sales">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>shopping_cart</mat-icon>
              </button>Sales Orders
        </a>
        <a routerLink="reports">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>bar_chart</mat-icon>
              </button>Reports
        </a>
        <a routerLink="settings">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>settings</mat-icon>
              </button>Settings
        </a>
    </div>
</div>
