<div class="flex">
    <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFiCxcvRqzuTt7VMKAoTVjDy9b6xc76udGmQ&usqp=CAU"
            alt="mobile">
        <h2>Mobile</h2>
    </div>
    <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkjrrElDw7nTv5H0JpeAJp-KWrGfNHiaGkEA&usqp=CAU"
            alt="lap">
        <h2>Laptop</h2>
    </div>
    <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGIcx7d3V8-GyLS4UZ7rrlnGaQiCPJC8298Q&usqp=CAU"
            alt="cam">
        <h2>Camera</h2>
    </div>
    <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrFgSpX_bNgZcNbT661JnJDKjqEyXTYyM-ww&usqp=CAU"
            alt="tv">
        <h2>Television</h2>
    </div>
</div>
<div class="flex">
    <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAJrcmJ_uzBatTz4pYrPQfElmBPynmTcuxSQ&usqp=CAU"
            alt="comp">
        <h2>Computer</h2>
    </div>
    <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjyQlJUOHDlxNpLuY8YxYW5Ykm9A62HPazOQ&usqp=CAU"
            alt="spkr">
        <h2>Speaker</h2>
    </div>
    <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSX-30GP1Z4TqDqKT3NeHksxVF9fX5Jo18t0w&usqp=CAU"
            alt="hdset">
        <h2>Headset</h2>
    </div>
    <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPQWlwJRx53SVHmk10ZvCwp7MAr_lg0WgYeg&usqp=CAU"
            alt="watch">
        <h2>Watch</h2>
    </div>
</div>