<!-- card -->
<div class="card-container">
    <!-- card 1 -->
    <mat-card>
        <app-cards
        bg="bg_first"
        icon="devices"
        title="Products"
        count="1560"
        ></app-cards>
    </mat-card>
    <!-- card 2 -->
    <mat-card>
        <app-cards
        bg="bg_second"
        icon="add_shopping_cart"
        title="Purchase Orders"
        count="760"
        ></app-cards>
    </mat-card>
    <!-- card 3 -->
    <mat-card>
        <app-cards
        bg="bg_third"
        icon="shopping_cart"
        title="Sales Orders"
        count="530"
        ></app-cards>
    </mat-card>
    <!-- card 4 -->
    <mat-card>
        <app-cards
        bg="bg_four"
        icon="notifications"
        title="Alerts"
        count="37"
        ></app-cards>
    </mat-card>
</div>

<div class="graph">
    <!-- bar-graph -->
    <div>
        <app-bargraph></app-bargraph>
    </div>
    
    <!-- area-chart -->
    <div>
        <app-areachart></app-areachart>
    </div>
</div>