<div class="container">
    <h1>Settings</h1>
    <div class="setting">

        <div class="flex">
            <h3><button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>person</mat-icon>
                </button> Account </h3>
        </div>
        <h3> <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>lock</mat-icon>
            </button>Privacy</h3>
        <h3> <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>folder_managed</mat-icon>
            </button>Permissions</h3>
        <h3> <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>language</mat-icon>
            </button>Languages</h3>
        <h3> <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>dark_mode</mat-icon>
            </button>Theme</h3>
        <h3> <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>wallpaper</mat-icon>
            </button>Wallpaper</h3>
        <h3> <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>logout</mat-icon>
            </button>Logout</h3>
        <h3> <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>delete</mat-icon>
            </button>Delete Account </h3>
    </div>
</div>